<!DOCTYPE html>
<html>
    <head>
            <% include header.ejs %>
    </head>

    <body>

        <h1 style="margin-left:5em;">Clasificación</h1>
        <div class="table-responsive" style="margin-left:5em;margin-right: 5em;">
            <table>
                <thead>
                    <tr>
                        <th>Posición</th>
                        <th>Nombre de usuario</th>
                        <th>Puntuación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>mariogl</td>
                        <td>50</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>david_hig</td>
                        <td>47</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ramonjim</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>mariohs</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>david_m</td>
                        <td>21</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <% include footer.ejs %>
    </body>

  
</html>