<!DOCTYPE html>
<html>
  <head>
        <% include header.ejs %>
  </head>
  <body>
   

   <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">

                <div class="row">
                    <div class="col-six tab-full">
                        <h3>Where to Find Us</h3>

                        <p>
                        1600 Amphitheatre Parkway<br>
                        Mountain View, CA<br>
                        94043 US
                        </p>

                    </div>

                    <div class="col-six tab-full">
                        <h3>Contact Info</h3>

                        <p>contact@philosophywebsite.com<br>
                        info@philosophywebsite.com <br>
                        Phone: (+1) 123 456
                        </p>

                    </div>
                </div> <!-- end row -->

                <h3>Say Hello.</h3>

                <form name="cForm" id="cForm" method="post" action="">
                    <fieldset>

                        <div class="form-field">
                            <input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                        </div>

                        <div class="form-field">
                            <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                        </div>

                        <div class="form-field">
                            <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website"  value="">
                        </div>

                        <div class="message form-field">
                        <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message" ></textarea>
                        </div>

                        <button type="submit" class="submit btn btn--primary full-width">Submit</button>

                    </fieldset>
                </form> <!-- end form -->


            </div> <!-- end s-content__main -->
        </div>
        </div> <!-- end row -->

    </section> <!-- s-content -->

    <% include footer.ejs %>
  </body>
</html>
