<!DOCTYPE html>
<html class="no-js" lang="en">
        <head>
                <% include header.ejs %>
        </head>
<body id="top">


    <section class="s-content">
        
        <div class="row">
          <div class="masonry">

                <article class="masonry__brick entry" data-aos="fade-up">
                        
                    <div class="col-span-3 entry__text" style="margin-right: 50px;">

                       <img src="/images/fake1.jpg" width="600" height="333">
                    
                    </div>
                           
                    <div class="col-span -3 entry__header">        
                            <div class="entry__date"><a href="single-standard.html">December 15, 2017</a></div>
                            <h1 class="entry__title"><a href="news1">Valora la noticia</a></h1>
                            
                    </div>
                    <div class="col-span -3 entry__excerpt">
                    
                    </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                <a href="category.html">#FakeNews</a> 
                                <a href="category.html">#Spain</a>
                            </span>
                        </div>
                    </div>
    
                </article> <!-- end article -->
              </div>
          <div>
          <div class="row">
          <div class="masonry">

            <article class="masonry__brick entry" data-aos="fade-up">
                  
              <div class="col-span-3 entry__text" style="margin-right: 50px;">

                 <img src="/images/fake2.jpg" width="600" height="333">
              
              </div>
                     
              <div class="col-span -3 entry__header">        
                      <div class="entry__date"><a href="single-standard.html">December 15, 2017</a></div>
                      <h1 class="entry__title"><a href="news1">Valora la noticia</a></h1>
                      
              </div>
              <div class="col-span -3 entry__excerpt">
              
              </div>
                  <div class="entry__meta">
                      <span class="entry__meta-links">
                          <a href="category.html">#FakeNews</a> 
                          <a href="category.html">#Spain</a>
                      </span>
                  </div>
              </div>

            </article> <!-- end article -->
        </div>
          <div>
          <div class="row">
          <div class="masonry">

          <article class="masonry__brick entry" data-aos="fade-up">
                  
              <div class="col-span-3 entry__text" style="margin-right: 50px;">

                 <img src="/images/nofake1.jpg" width="600" height="333">
              
              </div>
                     
              <div class="col-span -3 entry__header">        
                      <div class="entry__date"><a href="single-standard.html">December 15, 2017</a></div>
                      <h1 class="entry__title"><a href="news1">Valora la noticia</a></h1>
                      
              </div>
              <div class="col-span -3 entry__excerpt">
              
              </div>
                  <div class="entry__meta">
                      <span class="entry__meta-links">
                          <a href="category.html">#FakeNews</a> 
                          <a href="category.html">#Spain</a>
                      </span>
                  </div>
              </div>

          </article> <!-- end article -->
        </div>
          <div>
              


            </div> <!-- end masonry -->
        </div> <!-- end masonry-wrap -->

        <div class="row">
            <div class="col-full">
                <nav class="pgn">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </section> <!-- s-content -->

<!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <% include footer.ejs %>
</body>

</html>