<!DOCTYPE html>
<html>
    
    <head>
        <% include header.ejs %>
    </head>

  <body>
    <br>
    <br>
        <div align="center">
            <p>
            <label>Nombre de usuario:</label>
            <input type="text" name="username">
            </p>
            <p>
            <label>Contraseña:</label>
            <input type="password" name="password">
            </p>
            <p>
            <input type="submit" value="Login">
            </p>

            <p>¿Aún no tienes una cuenta?</p>
            <p>
                    <a href="registro"><input type="submit" value="Registrarse"></a>
            </p>

        
            <p>Autenticarse con</p>
            <img src="images/fb-g-tw.png" width="150" height="55">
        </div>

    <% include footer.ejs %>
    </body> 
  
</html>


