
<head>
<% include header.ejs %>
</head>
<body>
<div class="row s-content">  Seccion de voto
</div>
<div class="row">
    <div>
        <iframe src="https://www.esdiario.com/57030038/El-sueldo-vitalicio-de-Sanchez-0.000-euros-de-por-vida-si-gobierna-un-rato.html"
            width="100%" height="500" frameborder="0"
            allowfullscreen sandbox>
            </a> </p>
        </iframe>
    </div>
</div>
<% include header.ejs %>
</body>

