<head>
<% include header.ejs %>
</head>
<body>
<div class="row s-content">  Temas
        <span class="entry__meta-links">
        <a href="category.html">#FakeNews</a> 
        <a href="category.html">#Spain</a>
        </span>
    <div style="  float: right;">
        <a href="review-tips"><button type="button" >Noticia Falsa</button></a>
        <a href="review-tips"><button  type="button" >Noticia Verdadera</button></a>
    </div>
    

</div>
<div class="row">
    <div>
        <iframe src="https://okdiario.com/espana/podemos-propone-ayuda-1-200-hijo-abierta-inmigrantes-ilegales-3201296"
            width="100%" height="500" frameborder="0"
            allowfullscreen sandbox>
            </a> </p>
        </iframe>
    </div>
</div>
<% include footer.ejs %>
</body>

