<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/formulario.css' />
  </head>

  <div align="center">
    <form method="post" action="/">

        <label>Correo electrónico:</label> 
        <br><br>
        <input type="text" name="username">
  
        <br>
        <br>
        <br>
        <label>Nombre de usuario:</label>
        <br><br>
        <input type="text" name="username">

        <br>
        <br>
        <br>
        <label for="password">Contraseña:</label>
        <br><br>
        <input type="text" name="password" class="full-width">
      
        <br>
        <br>
        <br>
        <input type="submit" value="Registrarse">
     

    </form>
  </div>

  <section id="contact-page">
        <div class="container">
        <div class="row contact-wrap">
        <div class="status alert alert-success" style="display: none"></div>
        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
        <div class="col-sm-5 col-sm-offset-1">
        <div class="form-group">
        <label>Nombre *</label>
        <input type="text" name="name" class="form-control" required="required" placeholder="Introduce tu Nombre">
        </div>
        <div class="form-group">
        <label>Email *</label>
        <input type="email" name="email" class="form-control" required="required" placeholder="@">
        </div>
        <div class="form-group">
        <label>Tlf</label>
        <input type="number" name="tlf" class="form-control" placeholder="+34">
        </div>
        
        </div>
        <div class="col-sm-5">
        <div class="form-group">
        <label>Comunidad Autónoma</label>
        <select name="place" class="form-control" >
        <optgroup>
        <option>--Seleccione su comunidad--</option>
        <option>Albacete</option>
        <option>	Alicante</option>


        </optgroup>
        </select></div>
        
        
        <div class="form-group">
        <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Enviar Mensaje</button>
        </div>
        </div>
        </form>
        </div><!--/.row-->
        </div><!--/.container-->
        </section><!--/#contact-page-->
       


</html>