<!DOCTYPE html>
<html>
  <head>
        <% include header.ejs %>
  </head>
  <body>
   

  <section class="s-content s-content--narrow">

    <div style="margin-left:5em;margin-right: 5em;">

            <div>
                <p>Gracias por votar y colaborar</p>
                <h3><strong>Esta noticia era falsa</strong> y lo has acertado</h3>
            </div>

            <div>
            <h4>Consejos para detectar mejor las Noticias Falsas</h4>
            <ul>
                <li>Tienen un <strong>titular alarmista y espectacular</strong> (técnica llamada <strong><em>clickbait</em></strong>). Generalmente incluyen signos de exclamación, mayúsculas mal usadas, generan expectativas con hechos inacabados.</li>
                <li>Suelen <strong>contener errores ortográficos y de redacción</strong>, así como <strong>muchos enlaces </strong>a páginas sospechosas.</li>
                <li>A menudo tocan <strong>temas de coyuntura, tabúes o catástrofes</strong> siempre con premisas inverosímiles.</li>
                <li><strong>No se indica la fecha de publicación</strong>. Si no sabes cuándo se subió, podría tratarse de una noticia antigua o falsa.</li>
                <li>Presentan <strong>ventanas emergentes con publicidad </strong>excesiva.</li>
                <li><strong>No indican las fuentes de la información</strong>. No hay citas de especialistas o referencia a estudios ni tampoco alguna confirmación científica de lo que se afirma.</li>
            </ul>
            
            </div>
            
    </div> <!-- end row -->

    </section>

    <% include footer.ejs %>
  </body>
</html>
