<!DOCTYPE html>
<html>
  <head>
        <% include header.ejs %>
  </head>
  <body>
   

   <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">

            <div style="  float: right;">
                <p>Gracias por votar y colaborar</p>
                <p>Esta noticia era falsa y lo has acertado, a continuacion te comentamos algunas tecnicas para ayudarte a detectarlas mejor</p>

            </div>
                
            </div> <!-- end s-content__main -->
        </div>
        </div> <!-- end row -->

    </section> <!-- s-content -->

    <% include footer.ejs %>
  </body>
</html>
