   <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

            <div class="s-footer__bottom">
                <div class="row">
                    <div class="col-full">
                        <div class="s-footer__copyright">
                            <span>© Veracity News</span> 
                            <span>Follow us on <a>Facebook</a></span>
                        </div>
    
                        <div class="go-top">
                            <a class="smoothscroll" title="Back to Top" href="#top"></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end s-footer__bottom -->
    
        </footer> <!-- end s-footer -->